<h1>Welcome to Grouper</h1>
<br>
<br>


<h3>How do I get started?</h3>
<p>Sign up and discover groups of your interest. Find others with similar interests in the groups section.</p>
<br>
<br>

<h3>What if I can't find an existing group?</h3>
<p>Great chance to create a new one! Navigate to the <em><b>Discover Groups</b></em> tab and if you can't find a group create one of your choice!</p>
<br>
<br>

<h3>What's next after creating a Group?</h3>
<p>Congratulations on creating your very own Group. You can now create Topics for that group and schedule meetups with others who share your interest!</p>