
<br>
<br>
<%= month_calendar(events: @meetings) do  |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
        <div>
            <%= link_to meeting.name, meeting_path(meeting) %>
        </div>
        
    <% end %>
<% end %>
<br>
<% if !@groups%>
    <em> In order to view meet-ups for a specific group, select the Group and then view all meet-ups. Or -----> </em>
<% end %> 
<%= link_to "Add New Meetup", new_group_meeting_path(@group) if @group%><br>