<h1><%= @meeting.name %></h1>


<p>This meetup belongs to the group: <%= @meeting.group.title %></p>
<br>
<br>

<%= link_to 'Delete', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %><br>
