<h2><%= @topic.title %> - <%= @topic.user.username%></h2>

<% if @topic.user == current_user %>
  <%= link_to "Edit Topic", edit_topic_path(@topic)%>
  <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>
